@font-face {
	font-family: 'UltraHyper';
	src: url(fonts/UltraHyper-Regular.otf);
}

*{
	margin:0;
	/* distance between images */
	padding: 0;
	/* box-sizing: border-box;
	font-family: 'UltraHyper'; */
}
.container{
	/* width of rows */
	width: 100%;
	/* no clue, does something when above a certain num */
	min-height: 100vh;
	/* useless ig */
	display: flex;
	align-items: center;
	justify-content: center;
	/* padding px adjusts gap from top, % adjusts distance to the right */
	padding: 250px 0.3%;
	
}
.gallery{
	/* display: grid; */
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	/* self explanatory */
	grid-gap: 30px;
}
.gallery img{
	/* image size, does not effect grid spacing as it's still centered to it's image origin */
	/* width: 100%; */
}
img {
  -webkit-transform: scale(0.8); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.8); /* FF3.5+ */
      -ms-transform: scale(0.8); /* IE9 */
       -o-transform: scale(0.8); /* Opera 10.5+ */
          transform: scale(0.8);
             /* IE6–IE9 */
             filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713,SizingMethod='auto expand');
}
